@charset "utf-8";
/* CSS Document */

/* css para slider */

.container{
    width: 40%;
    height: auto;
    position:static;
	
    padding: 10px 10px 10px 10px;
    background-color: #B8B8B8;
    border-radius: 2em;
}
.mySlides{
    display: none;
}
.mySlides img{
    width: 100%;
    border-radius: 2em;
}
/* botones del slider */
.prev, .next{
    cursor: pointer;
    position:relative;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 100px;
    user-select: none;
    border:  solid #646262 2px;
	
    background-color:#FFFFFF;
	
}

.prev:hover,
.next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.elements{
    text-align: center;
}


